*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.758);
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

:root{
    --inner-shadow:
    inset 0 0 0.1vw 0.4vw #e0f7fac4,
    inset 0 0 0.4vw 0.6vw #00ff33bb,
    inset 0 0 1vw 0.4vw #03c229a4;
    
}
h2{
    color: #fff;
    margin-left: 16%;
    margin-bottom: 20%;
    background: linear-gradient(90deg, rgb(31, 120, 21) 0%, rgb(105, 237, 123) 26%, rgb(105, 237, 123) 48%, rgb(105, 237, 123) 67%, rgb(38, 119, 16) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.calculator {          
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 590px;
    border-radius: 10px;
    border: #03c229d4 solid ;
    box-shadow: rgba(54, 219, 79, 0.56) 0px 5px 100px 30px;
  }
  .display{
    background-color: #fff;
    color: #fff;
    margin-top: 0%;
    border: #03c229d4 solid !important;
    box-shadow: rgba(54, 219, 79, 0.56) 0px 5px 100px 30px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    width: 95%;
    height: 10%;
    display: grid;
    place-content: center;
    
  }
  
  .input-group {
    
    color: #fff;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
  }
  .label{
    background-color: transparent;
    border: #03c229d4 solid !important;
    box-shadow: rgba(54, 219, 79, 0.56) 0px 5px 100px 30px;
    color: #fff;
    border: none;
    width: 45%;
    height: 55px;
    border-radius: 15px;
    display: grid;
    place-content: center;
  }
  
  .input-group input {
    color: #fff;
    background-color: transparent;
    box-shadow: rgba(54, 219, 79, 0.56) 0px 5px 100px 30px;
    border: #03c229d4 solid !important;
    border: none;
    width: 45%;
    height: 100%;
    margin: 0 2px;
    padding: 5px;
    font-size: 11px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}
  
  .button-group { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    height: 300px;
}

button {
    border: #03c229d4 solid !important;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}
    
button:hover{
    background-color: #03c229;
    transition: color 0.3s 0.1s all;
    cursor: pointer;
    
}
  .button-group button {
    width: 20%;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border-radius: 15px;
    
    border: none;
    color: #fff;
  }
  
  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    
  }
  
  .result label {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .result span {
    font-size: 20px;
    font-weight: bold;
  }
  .mark_cal{
    background-color: rgba(0, 0, 0, 0.758);
    display: grid;
    place-content: center;
    height: 100%;
    border: #03c229 solid ;
  }